@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {

}
nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(158, 56, 56);
    

    .brand {
       a {
            text-decoration: none;
            color: black;

        font-size: 18px;
        width: 20%;

        span {
            color: burlywood;
        }
       }
    }
    ul {
        width: 35%;
        display: flex;
        justify-content: space-between;
        align-items: center;


        a {
            text-decoration: none;
            color: wheat;
            font-size: 20px;
            font-weight: 600;

            &:nth-child(5) {
                
                &:hover {
                    border-bottom: none;
                }
            }

            &:hover {
                // color: rgb(14, 12, 12);
                border-bottom: 3px solid black;
            }
        }
    }

}
main {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h1 {
        background-color: brown;
        width: 20%;
        text-align: center;
        cursor: pointer;
        border-radius: 10px;
        &:nth-child(1) {
            width: 40%;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }

        &:hover {
            background-color: orangered;
            transition: 0.6s;
        }
    }
}